<h1>Produxtos en tiempo real</h1>
<ul id="formulario"></ul>

<form id="formulario">
    <input type="text" id="title" placeholder="Título" required>
    <input type="number" id="price" placeholder="Precio" required>
    <button type="submit">Agregar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>